In [1]:
import numpy as np  # útil para cómputos matemáticos en Python
import pandas as pd # biblioteca para estructuras de datos

In [2]:
df_bite = pd.read_excel('DataBite.xlsx',
                      sheet_name='Dog_Bite_Data',
                      skipfooter=0)

print ('Data read into a pandas dataframe!')

Data read into a pandas dataframe!

In [3]:
df_bite.tail(1)

,Bite Number,Bite Type,Incident Date,Victim Age,Victim Relationship,Bite Location,Bite Severity,Bite Circumstance,Controlled By,Treatment Cost,Date Reported,Incident Location
10675,B20-014849,BITE,07/25/2020 05:00:00 PM,24.0,OWNER/VIC,L ARM,PUNCTURE,WALKING,OWNER,0.0,07/25/2020 12:00:00 AM,"2502 S MARSALIS AVE ,DALLAS TX 75216"

In [4]:
df_bite.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10676 entries, 0 to 10675
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Bite Number          10676 non-null  object
 1   Bite Type            10676 non-null  object
 2   Incident Date        10676 non-null  object
 3   Victim Age           7810 non-null   float64
 4   Victim Relationship  9783 non-null   object
 5   Bite Location        9530 non-null   object
 6   Bite Severity        9569 non-null   object
 7   Bite Circumstance    9172 non-null   object
 8   Controlled By        6539 non-null   object
 9   Treatment Cost       8012 non-null   float64
 10  Date Reported        10517 non-null  object
 11  Incident Location    10314 non-null  object
dtypes: float64(2), object(10)
memory usage: 1001.0+ KB

In [5]:
df_bite.columns.values

array(['Bite Number', 'Bite Type', 'Incident Date', 'Victim Age',
       'Victim Relationship', 'Bite Location', 'Bite Severity',
       'Bite Circumstance', 'Controlled By', 'Treatment Cost',
       'Date Reported ', 'Incident Location'], dtype=object)

In [6]:
df_bite.drop(['Treatment Cost','Date Reported '], axis=1, inplace = True)

In [7]:
df_bite.head(1)

,Bite Number,Bite Type,Incident Date,Victim Age,Victim Relationship,Bite Location,Bite Severity,Bite Circumstance,Controlled By,Incident Location
0,B17-009452,CONTACT,09/08/2020 07:45:00 AM,50.0,NEIGHBOR,R HAND,MINOR,BITE/SCRAT,NaN,"2405 HARTLINE DR ,DALLAS TX 75228"

In [10]:
df_bite.isnull().sum() # Bastantes datos null, por lo que se puede interpretar de distintas manera

Bite Type                 0
Incident Date             0
Victim Age             2866
Victim Relationship     893
Bite Location          1146
Bite Severity          1107
Bite Circumstance      1504
Controlled By          4137
Incident Location       362
dtype: int64

In [9]:
#df_bite.set_index('Bite Number', inplace=True)

In [ ]:
df_bite.tail(1)

,Bite Type,Incident Date,Victim Age,Victim Relationship,Bite Location,Bite Severity,Bite Circumstance,Controlled By,Incident Location
Bite Number,,,,,,,,,
B20-014849,BITE,07/25/2020 05:00:00 PM,24.0,OWNER/VIC,L ARM,PUNCTURE,WALKING,OWNER,"2502 S MARSALIS AVE ,DALLAS TX 75216"